.App {
  text-align: center;
  margin-bottom: 1em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #0060aa;
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1.5em + 2vmin);
  color: white;
}

.Answers-cont {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 10px;
}

.Main-cont {
  max-width: 900px;
  margin: 0 auto;
  max-height: 100vh;
}

.Results-cont {
  display: flex;
  flex-flow: row nowrap;
  column-count: 2;
  justify-content: center;
  margin: auto;
  column-gap: 4em;
}

.Results {
  border-radius: 0.8ch;
  padding: 0.5em;
}

.Selector-cont {
  margin: .5em 0 0 0;
  padding: .5em;
  border-radius: 0.8ch;
}

.Plus-button {
  width: 6em;
  height: 6em;
  color: #29ab05;
  margin: 0 auto;
  padding: 5px;
  font-size: x-large;
  background-color: transparent;
}

.Minus-button {
  width: 6em;
  height: 6em;
  color: #e20025;
  background-color: transparent;
  margin: 5px 12px 5px 25px;
  padding: 5px;
  font-size: x-large;
}

.Submit-cont {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.Submit-button {
  width: 5em;
  height: 2em;
  color: white;
  font-size: 30px;
  border-radius: 8ch;
  background-color: #0060aa;
  padding: 5px;
  margin: 13px auto;
}
.Submit-button:hover {
  cursor: pointer;
}

.End-cont {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 5px auto;
  /* background-color: green; */
}

.Message-cont {
  margin: 0 auto;
  width: 600px;
  border: 3px solid black;
  /* background-color: red; */
}

.Message {
  font-size: 40px;
  font-weight: bold;
}

.Next-btn-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 40%;
  /* background-color: hotpink; */
}

.Next-btn {
  width: 5em;
  height: 2em;
  color: black;
  font-size: 30px;
  border-radius: 8ch;
  background-color: #fbd931;
  padding: 5px;
  margin: 0 auto;
}
.Next-btn:hover {
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}
