.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #0077ff;
  height: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2em + 2vmin);
  color: white;
}

.Answers-cont {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 10px;
}

.Main-cont {
  max-width: 900px;
  margin: 0 auto;
}

.Results-cont {
  display: flex;
  flex-flow: row nowrap;
  column-count: 2;
  justify-content: center;
  margin: auto;
  column-gap: 4em;
}

.Results {
  border-radius: 0.8ch;
  padding: 0.5em;
}

.Selector-cont {
  margin: 2em 0 0 0;
  padding: 2em;
  border-radius: 0.8ch;
}

.Plus-button {
  width: 6em;
  height: 6em;
  color: rgb(226, 226, 74);
  /* border: 1px solid black; */
  background-color: transparent;
  margin: 20px auto;
  padding: 5px;
  font-size: x-large;
}

.Minus-button {
  width: 6em;
  height: 6em;
  color: rgb(211, 12, 12);
  background-color: transparent;
  margin: 20px 10px 20px 10px;
  padding: 5px;
  font-size: x-large;
}

.Submit-cont {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.Submit-button {
  width: 5em;
  height: 2em;
  color: black;
  font-size: large;
  border-radius: 8ch;
  background-color: rgb(248, 248, 86);
  padding: 5px;
  margin: 15px;
}
.Submit-button:hover {
  cursor: pointer;
}

.Message-cont {
  max-width: 30%;
  margin: 0 auto;
  border: 2px solid green;
}

.App-link {
  color: #61dafb;
}
